<p {{block.shopify_attributes}}>
  {{ block.settings.rich-text }}
</p>
{% schema %}
{
  "name": "Rich Text",
  "settings": [
    {
      "type": "richtext",
      "label": "Rich Text",
      "id": "rich-text"
    }
  ],
  "presets": [
    {
      "name": "Rich text"
    }
  ]
}
{% endschema %}
